
::selection {
    background: #31708f;
    color: #ffffff;
   }

body{
	font-size: 16px;
}


h1 {
	font-weight: bold;
    color: #4a4a4a;
    text-align: center;
    letter-spacing: 2px;
}


.navbar-default {
	background-color: transparent;
	border-color: transparent;
}


#headerwrap{
    
    background: url(../img/v-oblakah.jpg) no-repeat center top;
    background-attachment: relative;
	background-position: center;
	text-align: center;
    margin-top: -70px;
    padding-top: 250px;
    min-height: 650px;
    width: 100%;
}

#headerwrap h1{
	color: #ffffff;
	font-size: 90px;
	letter-spacing: 5px;
	font-weight: bold;
}

#headerwrap h3{
	color: #ffffff;
	font-weight: 400;

}

#headerwrap hr{
	color: white;


}
.row{
/*    background-color: #C0C0C0;*/
    
}

.projects{
	margin-top: 30px;
	margin-bottom: 60px;
}

.portfolio_gallery{
	margin-top: 30px;
}

.portfolio_gallery img:hover{
	opacity: 0.5;
}
footer {
 	background-color: #778899;
 	padding-top: 70px;
	padding-bottom: 50px;
    
}

footer p, a {
	color: #f2f2f2;
	text-align: center;
	font-weight: bold;
	}